@import "./constants.scss";

.content {
  width: 90%;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Lato", "Segoe UI";
  > * {
    margin-bottom: 1.125rem;
  }
  @include phone {
    padding: 0;
    width: 95%;
  }
  @include tablet {
    padding: 0;
    width: 95%;
  }
  @include desktop {
    width: 75%;
  }
}